---
sudo: false
language: ruby
cache: bundler
before_install:
  - bundle -v
  - rm -f Gemfile.lock
  - gem update --system
  - gem --version
  - bundle -v
script:
  - 'bundle exec rake $CHECK'
bundler_args: --without system_tests
rvm:
  - 2.4.1
env:
  global:
    - BEAKER_PUPPET_COLLECTION=puppet5 PUPPET_GEM_VERSION="~> 5.0"
    - PARALLEL_TEST_PROCESSORS=16
matrix:
  fast_finish: true
  include:
    -
      env: CHECK=validate
    -
      env: CHECK=spec
